@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.fmabDivP{
    border-radius: 20px;
    background-color: #907AD6;
    height: auto;
    width: 60vw;
    margin-left: 20%;
    padding: 2%;
    display: flex;
    font-family: "Roboto";
}
.topImg{
    border-radius: 20px;
    margin-top: 10%;
}
.topDivText{
    margin-left: 5%;
}
.topDivText p i{
    color: yellow;
}
.topDivText{
    color: rgb(255, 255, 255);
}
.topDivText h2{
    margin-bottom: 0;
    padding-bottom: 0;
    color: black;
}
.topDivRating{
    padding-top: 0;
    margin-top: 1%;
}
.topDivText span{
    color: #2F2A45;
}
.topDivText h3{
    color: black;
    text-decoration: underline;
}
.button{
    background-color: #2F2A45;
    color: white;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}
.button:hover{
    background-color: #907AD6;
    box-shadow: 0px 0px 10px 0px white;
}
.divBtnDetails{
    display: flex;
    gap: 100px;
    margin-top: 8%;
}
