.cardWrapper {
  width: 280px;
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
  display: block;
}

.cardOverlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.6);
  color: white;
  transition: bottom 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover .cardImg {
  filter: blur(3px);
}

.card:hover .cardOverlay {
  bottom: 0;
}
.genreDivP{
    width: 80%;
    margin-left: 10%;
    background-color: #907AD6;
    border-radius: 20px;
    padding: 2%;
}
.section1CardP{
    margin: 0;
    padding: 0;
}
.genreDivP h2{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 100;
}