.homeSection1Div1{
    display: flex;
    color: white;
    align-items: center;
    margin-left: 8%;
}
.Link{
    list-style: none;
    text-decoration: none;
    color: white;
    margin-left: 1%;
    font-size: 15px;
}
.Link2{
  list-style: none;
  text-decoration: none;
  color: black;
}
.homeSection1{
    margin-bottom: 5%;
}
.homeSection2{
    margin-bottom: 5%;
}
.cardWrapper {
  width: 280px;
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
  display: block;
  object-fit: cover;
}

.cardOverlay {
  position: absolute;
  bottom: -100%;
  left: -10;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.6);
  color: white;
  transition: bottom 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%
}
.cardOverlay h3{
  font-size: 17px;
}
.cardOverlay p{
  font-size: 13px;
}
.cardOverlay span{
  font-size: 15px;
  font-weight: bold;
}
.card:hover .cardImg {
  filter: blur(3px);
}

.card:hover .cardOverlay {
  bottom: 0;
}

.divRow1{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 3%;
    flex-wrap: wrap;
}
.divRow2{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.section1CardP{
    margin: 0;
    padding: 0;
}
.divNarutoRow1{
    display: flex;
    margin-left: 9%;
    gap: 30px;
    margin-bottom: 3%;
}
.homeDivColumn{
    width: 380px;
    height: 650px;
    background-color: #907AD6;
    position: absolute;
    right: 20;
    top: 1655;
    border-radius: 15px;
}
.homeDivColumnNumero{
  padding-left: 2%;
}
.homeDivColumnH2{
  color: white;
  margin-left: 5%;
}
.homeDivColumnDivP{
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  cursor: pointer;
  width: 90%;
  margin-left: 5%;
}
.homeDivColumnDivP:hover{
  box-shadow: black 0px 0px 10px 0px;
}
.homeDivColumnImg{
  height: 100px;
  position: relative;
  width: 60px;
  margin-top: 1%;
  margin-right: 2%;
  margin-left: 2%;
}
.homeDivColumnP2 i{
  color: yellow;
}
.homeDivColumnDivP p{
  margin: 0;
  line-height: 1.6;
}
.homeDivColumnP1 span{
  font-size: 12px;
}
.divNarutoRow1{
  display: flex;
  flex-basis: 60%;
  width: 65%;
  flex-wrap: wrap;
  margin-bottom: 10%;
  text-align: center;
}
.section3CardH3{
  margin-left: -15%;
  font-size: 15px;
}
.section3CardP{
  margin-left: -15%;
}
.section12CardH3{
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}
.discountBadge {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(116, 241, 116, 0.9);
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none; 
}
.discountBadge p {
  margin: 0;
  padding: 0;
  text-decoration: none; 
}
.discountText{
  color:  rgba(116, 241, 116, 0.9);
  font-weight: bold;
}
.priceTag {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  gap: 5px;
  align-items: center;
  z-index: 3;
}

.priceNormal {
  color: #ffffff;
}

.priceDiscounted {
  color: #74f174;
}

.originalPrice {
  text-decoration: line-through;
  font-size: 12px;
  opacity: 0.6;
}

@media (max-width:576px) {
  body{
    overflow-x: hidden;
  }
  .divRow1{
    margin-right: auto;
    margin-left: auto;
  }
  .homeSection1Div1 h2{
    margin-right: auto;
    margin-left: auto;
  }
  .homeDivColumn{
    display: none;
  }
  .divNarutoRow1{
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .divRow1 {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .cardWrapper {
    width: 100%;
    height: auto;
  }

  .cardImg {
    height: 200px;
  }

  .homeDivColumn {
    position: static;
    width: 90%;
    margin: 40px auto;
  }

  .homeDivColumnDivP {
    flex-direction: row;
  }

  .homeDivColumnImg {
    width: 60px;
    height: 90px;
  }
  .divNarutoRow1{
    margin-left: auto;
    margin-right: auto;
  }
  .TitreNaruto{
    margin-left: auto;
    margin-right: auto;
  }
  .cardTopDiv{
    height: 100px;
  }
}

@media (min-width: 769px) and (max-width: 950px) {
  .divRow1 {
    justify-content: center;
    gap: 25px;
  }

  .cardWrapper {
    width: 260px;
    height: 160px;
  }

  .homeDivColumn {
    width: 350px;
    top: 2155px;
    right: 20px;
  }
  .homeSection1Div1 h2{
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 951px) and (max-width: 1090px) {
  .divRow1 {
    justify-content: center;
    gap: 25px;
  }

  .cardWrapper {
    width: 260px;
    height: 160px;
  }

  .homeDivColumn {
    width: 350px;
    top: 2155px;
    right: 20px;
  }
  .homeSection1Div1 h2{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1090px) {
  .divRow1 {
    justify-content: center;
    gap: 30px;
  }

  .cardWrapper {
    width: 280px;
    height: 160px;
  }

  .homeDivColumn {
    width: 380px;
    position: absolute;
    right: 20px;
    top: 1655px;
  }
}