.homeSection1Div1{
    display: flex;
    color: white;
    align-items: center;
    margin-left: 8%;
}
.Link{
    list-style: none;
    text-decoration: none;
    color: white;
    margin-left: 1%;
    font-size: 15px;
}
.Link2{
  list-style: none;
  text-decoration: none;
  color: black;
}
.homeSection1{
    margin-bottom: 5%;
}
.homeSection2{
    margin-bottom: 5%;
}
.cardWrapper {
  width: 280px;
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
  display: block;
}

.cardOverlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.6);
  color: white;
  transition: bottom 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%
}

.card:hover .cardImg {
  filter: blur(3px);
}

.card:hover .cardOverlay {
  bottom: 0;
}

.divRow1{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 3%;
}
.divRow2{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.section1CardP{
    margin: 0;
    padding: 0;
}
.divNarutoRow1{
    display: flex;
    margin-left: 9%;
    gap: 30px;
    margin-bottom: 3%;
}
.homeDivColumn{
    width: 380px;
    height: 650px;
    background-color: #907AD6;
    position: absolute;
    right: 20;
    top: 1465;
    border-radius: 15px;
}
.homeDivColumnNumero{
  padding-left: 2%;
}
.homeDivColumnH2{
  color: white;
  margin-left: 5%;
}
.homeDivColumnDivP{
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  cursor: pointer;
  width: 90%;
  margin-left: 5%;
}
.homeDivColumnDivP:hover{
  box-shadow: black 0px 0px 10px 0px;
}
.homeDivColumnImg{
  height: 100px;
  position: relative;
  width: 60px;
  margin-top: 1%;
  margin-right: 2%;
  margin-left: 2%;
}
.homeDivColumnP2 i{
  color: yellow;
}
.homeDivColumnDivP p{
  margin: 0;
  line-height: 1.6;
}
.homeDivColumnP1 span{
  font-size: 12px;
}