.payeDivP{
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    height: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.spanDiv1{
    font-weight: bold;
}
.payeDiv1Titre{
    text-align: center;
}
.payeDiv1Box{
    border: 1px solid black;
    align-items: center;
    border-radius: 15px;
    padding: 15px 10px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    background-color: rgba(179, 177, 177, 0.196);
}
.payeDiv1Btn1{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 20px;
    transition: transform 0.5s ease;
    background-color: #a2c7f2;
}
.payeDiv1Btn1:hover{
    transform: scale(1.05);
}
.payeDiv1Btn2{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 20px;
    transition: transform 0.3s ease;
    background-color: #ed4646;
}
.payeDiv1Btn2:hover{
    transform: scale(1.05);
}
.payeDiv1Btn3{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 20px;
    transition: transform 0.5s ease;
    background-color: black;
}
.payeDiv1Btn3:hover{
    transform: scale(1.05);
}
.divMC{
    background-color: black;
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 20px;
    justify-content: center;
    margin-top: 5%;
    height: 180px;
    margin-left: 10%;
}
.divMCLogo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    margin-top: -5%;
}
.divMC input::placeholder{
    background-color: black;
}
.divMC input {
  border: none ;
  outline: none ;
  box-shadow: none ; 
  background-color: transparent; 
  color: white; 
  font-size: 16px;
  margin-top: 1%;
}

.divVisa{
    background-color: #a2c7f2;
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 20px;
    justify-content: center;
    margin-top: 5%;
    height: 180px;
    margin-left: 10%;
}
.divVisaLogo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    margin-top: -5%;
}
.divVisa input {
  border: none ;
  outline: none ;
  box-shadow: none ; 
  background-color: transparent; 
  color: white; 
  font-size: 16px;
  margin-top: 1%;
}
.divVisa input::placeholder{
    background-color: #a2c7f2;
}

.divCoins{
    background-color: #ed4646;
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 20px;
    justify-content: center;
    margin-top: 5%;
    height: 180px;
    margin-left: 10%;
}
.divCoinsLogo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    margin-top: -15%;
}
.LogoCoins{
    margin-left: -5%;
    margin-top: -5%;
}
.divTextCoins h3{
    color: white;
    margin: 0;
    padding: 0;
}
.activeBtn {
  border: 2px solid #fff;
  background-color: #444; 
}
.divBtn{
    margin-top: 3%;
}
.btnBuy{
    background-color: #907AD6;
    cursor: pointer;
    border: 1px solid #2F2A45 ;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 25px;
    color: white;
}
.btnBuy:hover{
    box-shadow: 0px 0px 10px 0px #2F2A45 ;
}
.fadeOut {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.confirmation {
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  padding: 2rem;
}

.confirmation h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.checkmark {
  font-size: 4rem;
  color: green;
  animation: pop 0.5s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}