@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.footerDivP{
    display: flex;
    color: #4c51ac;
    justify-content: space-around;
    background-color: #907AD6;
    position: relative;
    height: 60vh;
    margin-top: 3%;
}
.Link{
    list-style: none;
    text-decoration: none;
    color: #4c51ac;
}

.footerDivI{
    display: flex;
    align-items: center;
}
.footerDiv3I{
    margin-left: 40%;
    font-size: 20px;
    margin-bottom: 3%;
}
.footerImg{
    position: absolute;
    top: 50;
    right: 460;
}
.footerImg2{
    position: absolute;
    top: 60;
    left: 360;
}
.footerDiv1{
    margin-top: 3%;
}
.footerDiv1Li{
    transition: transform 0.5s ease;
}
.footerDiv1Li:hover{
    color: white;
    transform: scale(1.1);
}
.footerDiv2{
    margin-top: 3%;
}
.footerDiv2Div1Li{
    transition: transform 0.5s ease;
}
.footerDiv2Div1Li:hover{
    color: white;
    transform: scale(1.1);
}
.footerDiv3{
    margin-top: 3%;
    line-height: 2;
}
.LinkAnim{
    transition: transform 0.5s ease;
}
.LinkAnim:hover{
    color: white;
    transform: scale(1.1);
}
.footerDiv2Div2{
    margin-top: 23%;
    text-align: center;
}
.footerDiv2Div2Input{
    outline: none;
    border: 1px solid #907AD6;
    border-radius: 25px;
    padding: 10px 20px;
    width: 200px;
    color: white;
    background-color: #4F518C;
    cursor: pointer;
    box-shadow:0px 0px 10px 0px #4F518C;
}
.footerDiv2Div2Input::placeholder{
    color: white;
}
.footerDiv2Div2Input:hover{
    box-shadow:0px 0px 10px 0px #eaeaeb;
}
.footerDiv2Div2Btn{
    background-color: #4F518C;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
    padding: 10px 15px;
    margin-left: 3%;
    margin-top: 2%;
    cursor: pointer;
    box-shadow:0px 0px 10px 0px #4F518C;
}
.footerDiv2Div2Btn:hover{
    background-color: #907AD6;
    color: white;
    box-shadow:0px 0px 10px 0px #eaeaeb;
}
.footerDiv2Div1{
    margin-left: 20%;
}
.footerDiv2Div1Ul{
    display: flex;
    flex-direction: column;
    margin-left: -13%;
    line-height: 2;
}
.footerDiv1Ul{
    display: flex;
    flex-direction: column;
    margin-left: -26%;
    line-height: 2;
}
.divCopy{
    background-color: #907AD6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 3%;
}
.divCopyP{
    margin: 0;
    padding: 0;
    margin-bottom: 3%;
    padding-top: 1%;
    color: #4F518C;
    font-family: "Nono Sans";
    font-weight: 100;
}
.divCopySpan{
    color: #eaeaeb;
    font-weight: bold;
    font-family: "Nono Sans";
}

.confirmMessage {
  margin-top: 10px;
  color: #4F518C;
  font-weight: bold;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 768px) {
    .footerDivP{
        padding-top: 9%;
    }
    .footerImg{
        display: none;
    }
    .footerImg2{
        display: none;
    }
    .footerDiv1{
        margin-left: 3%;
    }
    .footerDiv1H2{
        font-size: 18px;
    }
    .footerDiv2{
        margin-left: -5%;
    }
    .footerDiv2Div1H2{
        font-size: 18px;
    }
    .footerDiv3{
        margin-left: -25%;
    }
    .footerDiv3H2{
        font-size: 15px;
    }
    .footerDiv2Div2{
        margin-left: -35%;
    }
    .footerDiv2Div2H2{
        margin-left: -10%;
    }
}
@media (min-width: 769px) and (max-width:1090px){
    .footerImg{
        position: absolute;
        top: 80;
        right: 260;
    }
    .footerImg2{
        position: absolute;
        top: 90;
        left: 160;
    }
}
@media (min-width: 1091px) and (max-width:1400px){
    .footerImg{
        position: absolute;
        top: 80;
        right: 360;
    }
    .footerImg2{
        position: absolute;
        top: 90;
        left: 260;
    }
}
