.episodesDivP{
    background-color: #907AD6;
    width: 80vw;
    margin-left: 10%;
    height: auto;
    padding: 2%;
    border-radius: 20px;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.DivEpisodes{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.discountNotice{
  color: white;
}
.cardWrapper {
  width: 280px;
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
  display: block;
}

.cardOverlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.6);
  color: white;
  transition: bottom 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card:hover .cardImg {
  filter: blur(3px);
}

.card:hover .cardOverlay {
  bottom: 0;
}
.section1CardP{
  margin-top: 3%;
}

.section1CardBtn{
  width: 100px;
  cursor: pointer;
  background-color: #907AD6;
  border-radius: 20px;
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
}
.section1CardBtn:hover{
  box-shadow: 0px 0px 10px 0px white;
}