.divPNav{
    color: #4F518C;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 5%;
    height: 100px;
    z-index: 2;
    background-color:#2F2A45 ;
    width: 100%;
}
.selectNav{
    background-color:#2F2A45 ;
    border: none;
    outline: none;
    color: #4F518C;
    padding: 0;
    margin: 0;
}
.navDiv1{
    display: flex;
    flex-basis: 30%;
    margin-top: 2%;
    gap: 40px;
}

.navDiv0{
    flex-basis: 25%;
    margin-top: 2%;
}
.navImg{
    cursor: pointer;
}
.navDiv2{
    flex-basis: 30% ;
    margin-left: 15%;
    margin-top: 2%;
    display: flex;
    align-items: center;
}
.navText{
    cursor: pointer;
}
.navInput{
    outline: none;
    border: #4F518C;
    border-radius: 25px;
    padding: 10px 20px;
    width: 200px;
    color: white;
    background-color: #907AD6;
    cursor: pointer;
    box-shadow:0px 0px 10px 0px #4F518C;
}

.navInput::placeholder{
    color: white;
}
.fa-solid{
    cursor: pointer;
}
#navI{
    cursor: pointer;
    padding-right: 15%;
    font-size: 20px;
}
.navDiv3{
    margin-left: 5%;
    width: 100px;
}
.mainContent{
    padding-top: 140px
}
.navText:hover{
    color: white;
}